{% extends 'base.html.twig' %}

{% block title %}BSX - Dividends{% endblock %}

{% block body %}
    <style>
        .active_menu_item{
            background: lightgreen;
        }
    </style>
    <div class="inline-flex w-full rounded-md shadow-xs mb-5" role="group">
        <button type="button" class="active_menu_item px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            Add Dividend Payment
        </button>
        <a href="/dividends" class="menu_item px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            Payments
        </a>
        <a href="/dividends?type=stocks" class="menu_item px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            Stocks
        </a>
        <a href="/dividends?type=months" class="menu_item px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            Months
        </a>
        <a href="/dividends?type=quarters" class="menu_item px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            Quarters
        </a>
        <a href="/dividends?type=years" class="menu_item px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700">
            Years
        </a>
    </div>

    <div class="grid gap-y-10 gap-x-8 sm:grid-cols-3">
        <div class="px-4 sm:p-0">
            <h2 class="m-0 text-base font-semibold leading-7 text-gray-900">Some Form</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">some explaination</p>
        </div>
        <form name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" x-data="DividendForm()" class="bg-white shadow-sm ring-offset-1 ring-gray-900 sm:rounded-xl sm:col-span-2">
            <div class="px-4 py-6 sm:p-8">
                <div class="grid max-w-[42rem] grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 ">
                    <div class="col-span-full">
                        <div>
                            <label for="{{ form.Stock.vars.id }}" class="block text-sm font-medium leading-6 text-gray-900 {% if form.Stock.vars.required == true %}required{% endif %}">{{ form.Stock.vars.label }}</label>
                            <div class="relative mt-2">
                                <button type="button" x-on:click="toggleDropdown();" class="relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                                  <span class="flex items-center">
                                    <img x-bind:src="selectedStockIcon"
                                         alt="" class="h-5 w-5 flex-shrink-0 rounded-full">
                                    <span class="ml-3 block truncate" x-html="getStockName()"></span>
                                  </span>

                                    <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
                                    <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd"/>
                                    </svg>
                                  </span>
                                </button>

                                <!--
                                  Select popover, show/hide based on select state.

                                  Entering: ""
                                    From: ""
                                    To: ""
                                  Leaving: "transition ease-in duration-100"
                                    From: "opacity-100"
                                    To: "opacity-0"
                                -->
                                <ul x-show="dropdownOpen" class="absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                                    <!--
                                      Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

                                      Highlighted: "bg-indigo-600 text-white", Not Highlighted: "text-gray-900"
                                    -->
                                    {% for choice in form.Stock.vars.choices %}
                                        <li class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900 hover:bg-gray-50 hover:cursor-pointer" id="listbox-option-0" role="option">
                                            <div class="flex items-center" x-on:click="selectStock({{ choice.attr['data-id'] }}, '{{ choice.attr['data-stock-name'] }}', '{{ choice.attr['data-ticker'] }}');">
                                                <img src="/assets/images/company_logos/{{ choice.attr['data-ticker'] }}.jpg" alt="" class="h-5 w-5 flex-shrink-0 rounded-full">
                                                <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                                                <span class="ml-3 block truncate font-normal">({{ choice.attr['data-ticker'] }}) {{ choice.label }}</span>
                                            </div>

                                            <!--
                                              Checkmark, only display for selected option.

                                              Highlighted: "text-white", Not Highlighted: "text-indigo-600"
                                            -->
                                            <span x-show="checkSelected({{ choice.attr['data-id'] }})" class="absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600">
                                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd"/>
                                          </svg>
                                        </span>
                                        </li>
                                    {% endfor %}

                                    <!-- More items... -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% for input in form.children %}
                        {% if input.vars.name != "Stock" and input.vars.name != "currency" and input.vars.name != "save" and input.vars.name != "_token" %}
                            <div class="col-span-full">
                                <label for="{{ input.vars.id }}"
                                       class="block text-sm font-medium leading-6 text-gray-900 {% if input.vars.required == true %}required{% endif %}">{{ input.vars.label }}</label>
                                <div class="mt-2">
                                    {{ form_widget(input) }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="col-span-full">
                        <label for="{{ form.currency.vars.id }}" class="block text-sm font-medium leading-6 text-gray-900 {% if form.currency.vars.required == true %}required{% endif %}">{{ form.currency.vars.label }}</label>
                        <div class="mt-2 grid grid-cols-2 gap-3">
                            <span class="flex cursor-pointer items-center justify-center rounded-md bg-white p-3 text-sm font-semibold uppercase text-gray-900 ring-1 ring-inset ring-gray-300 flex-1" :class="selected_currency == 'can' && '!bg-indigo-600 text-white'" x-on:click="switchCurrency('can')">Canadian Dollars</span>
                            <span class="flex cursor-pointer items-center justify-center rounded-md bg-white p-3 text-sm font-semibold uppercase text-gray-900 ring-1 ring-inset ring-gray-300 flex-1" :class="selected_currency == 'usd' && '!bg-indigo-600 text-white'" x-on:click="switchCurrency('usd')">United States Dollars</span>
                        </div>
                    </div>


                </div>
            </div>

            <div class="flex items-center justify-end gap-x-6 border-t-[1px] border-gray-900 px-4 py-4 sm:px-8">
                <button type="submit" id="{{ form.vars.name }}_save" name="{{ form.vars.name }}[save]"
                        class="normal-case cursor-pointer rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow">
                    Save
                </button>
            </div>

            {% if error %}
                <br/>
                {{ error }}
            {% endif %}

            {{ form_row(form._token) }}
            <input type="hidden" name="dividend[Stock]" id="dividend_Stock" x-model="selectedStock" />
            <input type="hidden" name="dividend[currency]" id="dividend_currency" x-model="selected_currency" />
        </form>

        {# render tailwind class that form inputs will use.. #}
        <div class="block hidden w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-inset ring-1 ring-gray-300 text-sm leading-6 bg-indigo-600"></div>
    </div>

    <script>
        function DividendForm() {

            return {
                dropdownOpen: false,
                selectedStock: null,
                selected_currency: "can",
                selectedStockName: "Select Stock",
                selectedStockTicker: "###",
                selectedStockIcon:"https://plus.unsplash.com/premium_photo-1678048604398-f42dda6997bd?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",

                checkSelected(id){
                    return this.selectedStock === id;
                },

                getStockName() {
                    return "(" + this.selectedStockTicker + ") " + this.selectedStockName;
                },

                switchCurrency(id){
                    this.selected_currency = id;
                },

                selectStock(id, name, ticker){
                    this.selectedStock = id;
                    this.selectedStockName = name;
                    this.selectedStockTicker = ticker;
                    this.selectedStockIcon = "/assets/images/company_logos/" + ticker + ".jpg";
                    this.toggleDropdown();
                },

                toggleDropdown(){
                    this.dropdownOpen = (!this.dropdownOpen);
                }
            }
        }
    </script>
{% endblock %}