{% extends 'base.html.twig' %}

{% block title %}BSX - Dashboard{% endblock %}

{% block body %}
    <div class="grid gap-y-10 gap-x-8 sm:grid-cols-3">
        <div class="px-4 sm:p-0">
            <h2 class="m-0 text-base font-semibold leading-7 text-gray-900">Some Form</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">some explaination</p>
        </div>
        <form name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" x-data="LockTransferForm()" class="bg-white shadow-sm ring-offset-1 ring-gray-900 sm:rounded-xl sm:col-span-2">
            <div class="px-4 py-6 sm:p-8">
                <div class="grid max-w-[42rem] grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 ">


                    {% for input in form.children %}
                        {% if input.vars.name != "save" and input.vars.name != "profit" and input.vars.name != "_token" %}
                            {% if input.vars.name == "type" %}
                                <div class="col-span-full">
                                    <label for="{{ form.type.vars.id }}" class="block text-sm font-medium leading-6 text-gray-900 {% if form.type.vars.required == true %}required{% endif %}">{{ form.type.vars.label }}</label>
                                    <div class="mt-2 grid grid-cols-2 gap-3">
                                        {% for choice in form.type.vars.choices %}
                                        <span class="flex cursor-pointer items-center justify-center rounded-md bg-white p-3 text-sm font-semibold uppercase text-gray-900 ring-1 ring-inset ring-gray-300 flex-1" :class="selected_type == '{{ choice.value }}' && '!bg-indigo-600 text-white'" x-on:click="switchType('{{ choice.value }}')">{{ choice.label }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% elseif input.vars.name == "currency" %}
                                    <div class="col-span-full">
                                        <label for="{{ form.currency.vars.id }}" class="block text-sm font-medium leading-6 text-gray-900 {% if form.currency.vars.required == true %}required{% endif %}">{{ form.currency.vars.label }}</label>
                                        <div class="mt-2 grid grid-cols-2 gap-3">
                                            {% for choice in form.currency.vars.choices %}
                                                <span class="flex cursor-pointer items-center justify-center rounded-md bg-white p-3 text-sm font-semibold uppercase text-gray-900 ring-1 ring-inset ring-gray-300 flex-1" :class="selected_currency == '{{ choice.value }}' && '!bg-indigo-600 text-white'" x-on:click="switchCurrency('{{ choice.value }}')">{{ choice.label }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                            {% else %}
                                <div class="col-span-full">
                                    <label for="{{ input.vars.id }}" class="block text-sm font-medium leading-6 text-gray-900 {% if input.vars.required == true %}required{% endif %}">{{ input.vars.label }}</label>
                                    <div class="mt-2">
                                        {{ form_widget(input) }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="col-span-full">
                        <div class="mt-2">
                            <div class="flex items-center">
                                <button type="button" class="fee-button relative inline-flex h-6 w-11 shrink-0 cursor-pointer rounded-full border-transparent bg-gray-200" :class="profit == true && 'checked'" x-on:click="profit_selected()">
                                    <span class="pointer-events-none inline-block h-5 w-5 rounded-full bg-white"></span>
                                </button>
                                <span class="ml-3 text-sm">
                                    <span class="font-medium">Move % of Profit</span>
                                </span>
                            </div>
                            <style>
                                .fee-button{
                                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                                    transition-duration: 200ms;
                                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                }

                                .fee-button:focus {
                                    outline: 2px solid transparent;
                                    outline-offset: 2px;
                                    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
                                    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                                    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
                                    --tw-ring-opacity: 1;
                                    --tw-ring-color: rgb(79 70 229 / var(--tw-ring-opacity));
                                    --tw-ring-offset-width: 2px;
                                }

                                .fee-button.checked{
                                    --tw-bg-opacity: 1;
                                    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
                                }

                                .fee-button span{
                                    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                                    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
                                    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
                                    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
                                    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                                    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
                                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
                                    transition-duration: 200ms;
                                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                }

                                .fee-button.checked span{
                                    --tw-translate-x: 1.25rem;
                                    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
                                }

                            </style>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-end gap-x-6 border-t-[1px] border-gray-900 px-4 py-4 sm:px-8">
                <button type="submit" id="{{ form.vars.name }}_save" name="{{ form.vars.name }}[save]" class="normal-case cursor-pointer rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow">Save</button>
            </div>

            {% if error %}
                <br />
                {{ error }}
            {% endif %}
            {{ form_row(form._token) }}

            <input type="hidden" name="wallet_locked_transfer[currency]" id="wallet_locked_transfer_currency" x-model="selected_currency" />
            <input type="hidden" name="wallet_locked_transfer[type]" id="wallet_locked_transfer_type" x-model="selected_type" />
            <input type="hidden" name="wallet_locked_transfer[profit]" id="wallet_locked_transfer_" x-model="profit_converted()" />
        </form>

        {# render tailwind class that form inputs will use.. #}
        <div class="block hidden w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-inset ring-1 ring-gray-300 text-sm leading-6"></div>
    </div>

    <script>
        function LockTransferForm() {

            return {
                selected_currency: "CAN",
                selected_type: "unlock",
                profit:false,

                switchCurrency(id) {
                    this.selected_currency = id;
                },

                switchType(id) {
                    this.selected_type = id;
                },

                profit_selected(){
                    this.profit = !this.profit;
                },

                profit_converted(){
                    return (this.profit) ? "1" : "0";
                },
            }
        }
    </script>
{% endblock %}