<div class="panel large_panel plays">
    <div class="title">Plays</div>
    {% for play in plays %}
        {% set total = 0 %}
        {% for option in play.options %}{% set total = total + option.contracts %}{% endfor %}
        {% for sb in play.shares %}{% set total = total + sb.amount %}{% endfor %}

        {% if total > 0 %}
            <div class="play">
                <div class="logo" style="background-image: url('/assets/images/company_logos/{{ play.stock.ticker }}.jpg')"></div>
                <div class="info">
                    <div class="playname">{{ play.stock.name }}</div>
                    <div class="playdetails">
                        {% set profit = 0 %}
                        {% set fee = 0 %}
                        {% if play.shares|length > 0 %}{% set fee = fee + 9.95 %}{% endif %}
                        {% for sb in play.shares %}
                            Stock Swing - {{ sb.amount }} * ${{ sb.price }}<br/>
                            {% set fee = fee + 9.95 %}
                            {% set profit = profit + ((sb.stock.getCurrentPrice * sb.amount) - (sb.amount * sb.price)) %}
                        {% endfor %}

                        {% if play.options|length > 0 %}{% set fee = fee + 9.95 %}{% endif %}
                        {% set contractsTotal = 0 %}
                        {% for option in play.options %}
                            {% set fee = fee + 9.95 %}
                            {% set contractsTotal = contractsTotal + option.contracts %}
                            {{ option.contracts }} * {{ option.expiry|date("j F, Y")}} - ${{option.strike|number_format(2)}} {% if option.type == 1 %}Call{% if option.contracts > 1 %}s{% endif %}{% else %}Put{% if option.contracts > 1 %}s{% endif %}{% endif %}<br />
                            {% set profit = profit + (((option.current * option.contracts) - (option.average * option.contracts)) * 100) %}
                        {% endfor %}
                        {% if play.options|length > 0 %}{% set fee = fee + (2.50 * contractsTotal) %}{% endif %}
                    </div>
                </div>
                {% set total = profit - fee %}
                <div class="profit">{% if profit > 0 %}+{% endif %}{% if profit < 0 %}-{% endif %}${{ total|abs|number_format(2) }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>