<div class="panel portfolio">
    <div class="status">
        <div class="money">{{ amount }}</div>
        <div class="gainbox">
            <span class="title">Gain</span>
            <div class="amount_wrapper">
                <div class="amount">+${{ gain_total }}</div>
                <div class="amount">&#129045;{{ gain_total_percent }}%</div>
            </div>
        </div><!--
     --><div class="gainbox">
            <span class="title">Gain Today</span>
            <div class="amount_wrapper">
                <div class="amount">-${{ gain_day }}</div>
                <div class="amount">&#129047;{{ gain_day_percent }}%</div>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="name"><span class="info_label">Name:</span><br />Swing Trade Portfolio</div><!-- 
     --><div class="updated"><span class="info_label">Updated:</span><br />12/29/2021</div>
    </div>
</div>