{% extends 'base.html.twig' %}

{% block title %}Hello DividendController!{% endblock %}

{% block body %}
    <table class="dividend_table">
        <tr>
            <th></th>
            <th>Company Name</th>
            <th># of Payments</th>
            <th>Last Payment</th>
            <th>Last Payout</th>
            <th>Average Payout</th>
            <th>Total Payout</th>
        </tr>

        {% for stock in stocks %}
            {% set total_amount = 0 %}
            {% set num_of_payments = 0 %}
            {% set total_payments = 0 %}
            {% set last_payment = 0 %}
            {% set last_amount = 0 %}
            {% for dividend_payment in stock.dividends %}
                {% set num_of_payments = num_of_payments + 1 %}
                {% set last_payment = dividend_payment.paymentDate %}
                {% set last_amount = dividend_payment.amount %}
                {% set total_amount = total_amount + dividend_payment.amount %}
                {% set total_payments = total_payments + 1 %}
            {% endfor %}
            

            {% if total_amount > 0 %}
                {% set average_payment_amount = total_amount / total_payments %}
                <tr>
                    <td><img src="/assets/images/company_logos/{{ stock.ticker }}.jpg" alt="" style='width: 60px; height: 60px; border-radius: 12px;'></td>
                    <td>{{ stock.name }}</td>
                    <td>{{ num_of_payments }}</td>
                    <td>{{ last_payment|date("m/d/Y") }}</td>
                    <td>{{ last_amount|number_format(2) }}</td>
                    <td>{{ average_payment_amount|number_format(2) }}</td>
                    <td>{{ total_amount|number_format(2) }}</td>
                </tr>
            {% endif %}

        {% endfor %}
    </table>
{% endblock %}
