{% set total_value_usd = 0.00 %}
{% set total_value_can = 0.00 %}

{% set total_value_buyback_usd = 0.00 %}
{% set total_value_buyback_can = 0.00 %}

{% for stock in stocks %}
    {% set stock_total = 0 %}
    {% set stock_amount = 0 %}
    {% set cc_over_strike_total_buyback_can = 0 %}
    {% set cc_over_strike_total_buyback_usd = 0 %}
    {% set cc_over_strike_total_assign_can = 0 %}
    {% set cc_over_strike_total_assign_usd = 0 %}
    {% set buys = 0 %}

    {% for buy in stock.shareBuys %}
        {% if buy.sold < buy.amount %}
            {% if buy.nofee == false %}{% endif %}
            {% set remaining = buy.amount - buy.sold %}
            {% set stock_amount = stock_amount + remaining %}
        {% endif %}
    {% endfor %}

    {% for cc in stock.coveredCalls %}
        {% if cc.expired == 0 and cc.exercised == 0 and cc.strike <= stock.currentPrice  %}
            {% set stock_amount = stock_amount - (100 * cc.contracts) %}
            {% if stock.country == "CAN" %}
                {% set cc_over_strike_total_buyback_can = cc_over_strike_total_buyback_can + ((stock.currentPrice * cc.contracts * 100) - (cc.ask * cc.contracts * 100) - 9.95 - (1.25 * cc.contracts)) %}
                {% set cc_over_strike_total_assign_can = cc_over_strike_total_assign_can + ((cc.strike * cc.contracts * 100) - 43.00) %}
            {% else %}
                {% set cc_over_strike_total_buyback_usd = cc_over_strike_total_buyback_usd + ((stock.currentPrice * cc.contracts * 100) - (cc.ask * cc.contracts * 100) - 9.95 - (1.25 * cc.contracts)) %}
                {% set cc_over_strike_total_assign_usd = cc_over_strike_total_assign_usd + ((cc.strike * cc.contracts * 100) - 43.00) %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if stock_amount > 0 or cc_over_strike_total_buyback_can > 0 or cc_over_strike_total_buyback_usd > 0 %}
        {% if stock.noFee == false %}
            {% set fee = (buys * 9.95) %}
        {% else %}
            {% set fee = 0 %}
        {% endif %}

        {% set stock_total = (stock_amount * stock.currentPrice) + fee %}

        {# TODO:: Add switch for assign and buyback for covered calls #}
        {% if stock.country == "CAN" %}
            {% set total_value_can = total_value_can + stock_total + cc_over_strike_total_assign_can %}
            {% set total_value_buyback_can = total_value_buyback_can + stock_total + cc_over_strike_total_buyback_can %}
        {% else %}
            {% set total_value_usd = total_value_usd + stock_total + cc_over_strike_total_assign_usd %}
            {% set total_value_buyback_usd = total_value_buyback_usd + stock_total + cc_over_strike_total_buyback_usd %}
        {% endif %}

{#        {{ stock.name }}: ${{ (stock_total + cc_over_strike_total_buyback_usd)|number_format(2,'.','') }}<br />#}

        {#            {{ stock.name }}: {{ stock_total }} | {{ stock_amount }} | {{ stock.currentPrice }} | {{ cc_over_strike_total_usd }} | {{ total_value_can + total_value_usd }}<br />#}
    {% endif %}

    {% for option in stock.options %}
        {% if option.expired == false and option.contracts >= 1 %}
            {% set option_buy_fee = (option.buys * 9.95) + (option.contracts * 1.25) %}
            {% set option_sell_fee = 9.95 + (option.contracts * 1.25) %}
            {% set option_current = (option.current * 100 * option.contracts) - option_sell_fee %}
            {% if stock.country == "CAN" %}
                {% set total_value_can = total_value_can + option_current %}
                {% set total_value_buyback_can = total_value_buyback_can + option_current %}
            {% else %}
                {% set total_value_usd = total_value_usd + option_current %}
                {% set total_value_buyback_usd = total_value_buyback_usd + option_current %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

{#TOTAL: ${{ total_value_buyback_usd|number_format(2,'.','') }}<br />#}

{% set debt_total_cdn = 0 %}
{% set debt_total_usd = 0 %}

{% for debt in debts %}
    {% set debt_total_cdn = debt_total_cdn + debt.cdn %}
    {% set debt_total_usd = debt_total_usd + debt.usd %}
{% endfor %}

<div id="total_value_a" class="panel large_panel total_value relative" style="display:none;">
    <span class="tv_switch_update_btn material-icons absolute top-3 right-3 hover:text-indigo-500 hover:cursor-pointer">sync</span>
    <h2 class="text-2xl">Total Portfolio Value (CC assign)</h2>
    US: ${{ total_value_usd|number_format(2) }} | ${{ (total_value_usd * 1.36)|number_format(2) }} (can)<br />
    Can: ${{ total_value_can|number_format(2) }}<br />
    {% set debt_total = debt_total_cdn - (debt_total_usd * 1.36) %}
    {% if debt_total > 0 %}
    Debt: -${{ debt_total|number_format(2) }}
    {% endif %}

    {% set overall_total_assign = (((total_value_usd * 1.36) + total_value_can) - debt_total_cdn - (debt_total_usd * 1.36)) %}

    <h2 class="text-center text-6xl">${{ overall_total_assign|number_format(2) }}</h2>
</div>

<div id="total_value_b" class="panel large_panel total_value relative">
    <span class="tv_switch_update_btn material-icons absolute top-3 right-3 hover:text-indigo-500 hover:cursor-pointer">sync</span>
    <h2 class="text-2xl">Total Portfolio Value (CC buyback)</h2>
    US: ${{ total_value_buyback_usd|number_format(2) }} | ${{ (total_value_buyback_usd * 1.36)|number_format(2) }} (can)<br />
    Can: ${{ total_value_buyback_can|number_format(2) }}<br />
    {% set debt_total = debt_total_cdn - (debt_total_usd * 1.36) %}
    {% if debt_total > 0 %}
        Debt: -${{ debt_total|number_format(2) }}
    {% endif %}

    {% set overall_total_buyback = (((total_value_buyback_usd * 1.36) + total_value_can) - debt_total_cdn - (debt_total_usd * 1.36)) %}

    <h2 class="text-center text-6xl">${{ overall_total_buyback|number_format(2) }}</h2>
</div>

<script>
    $(() => {
        let total_type_assign = false;

       $(".tv_switch_update_btn").on("click", function (){
           console.log(total_type_assign);
            if(total_type_assign){
                total_type_assign = false;
                $("#total_value_b").show();
                $("#total_value_a").hide();
            } else {
                total_type_assign = true;
                $("#total_value_a").show();
                $("#total_value_b").hide();
            }
       });
    });
</script>

{% if settings.totalValueCcTypeAssign %}
    {% set overall_total = overall_total_assign %}
{% else %}
    {% set overall_total = overall_total_buyback %}
{% endif %}

<div class="panel large_panel">
    <canvas id="total_chart"></canvas>
    <script>
        let total_data_values = [
            {{ totalValues[0].amount }},
            {{ totalValues[1].amount }},
            {{ totalValues[2].amount }},
            {{ totalValues[3].amount }},
            {{ totalValues[4].amount }},
            {{ totalValues[5].amount }},
            {{ totalValues[6].amount }},
            {{ totalValues[7].amount }},
            {{ totalValues[8].amount }},
            {{ totalValues[9].amount }},
            {{ totalValues[10].amount }},
            {{ totalValues[11].amount }},
            {{ totalValues[12].amount }},
            {{ totalValues[13].amount }},
            {{ totalValues[14].amount }},
            {{ totalValues[15].amount }},
            {{ totalValues[16].amount }},
            {{ totalValues[17].amount }},
            {{ totalValues[18].amount }},
            {{ totalValues[19].amount }},
        ];

        {% set smallest_value = totalValues[0].amount %}

        {% for value in totalValues %}
            {% if value.amount < smallest_value %}
                {% set smallest_value = value.amount %}
            {% endif %}
        {% endfor %}

        {% if smallest_value >= 20 %}
            {% set smallest_value = smallest_value - (smallest_value * 0.07) %}
        {% endif %}

        const label = 'Total Value over 20 weeks..';



        const data_total = {
            labels: [
                "{{ totalValues[0].endDate|date("D m/d")  }}",
                "{{ totalValues[1].endDate|date("D m/d")  }}",
                "{{ totalValues[2].endDate|date("D m/d")  }}",
                "{{ totalValues[3].endDate|date("D m/d")  }}",
                "{{ totalValues[4].endDate|date("D m/d")  }}",
                "{{ totalValues[5].endDate|date("D m/d")  }}",
                "{{ totalValues[6].endDate|date("D m/d")  }}",
                "{{ totalValues[7].endDate|date("D m/d")  }}",
                "{{ totalValues[8].endDate|date("D m/d")  }}",
                "{{ totalValues[9].endDate|date("D m/d")  }}",
                "{{ totalValues[10].endDate|date("D m/d")  }}",
                "{{ totalValues[11].endDate|date("D m/d")  }}",
                "{{ totalValues[12].endDate|date("D m/d")  }}",
                "{{ totalValues[13].endDate|date("D m/d")  }}",
                "{{ totalValues[14].endDate|date("D m/d")  }}",
                "{{ totalValues[15].endDate|date("D m/d")  }}",
                "{{ totalValues[16].endDate|date("D m/d")  }}",
                "{{ totalValues[17].endDate|date("D m/d")  }}",
                "{{ totalValues[18].endDate|date("D m/d")  }}",
                "{{ totalValues[19].endDate|date("D m/d")  }}",
            ],
            datasets: [{
                label: label,
                data: total_data_values,
                borderRadius: 5,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                ],
                borderWidth: 1
            }]
        };
        const config_total = {
            type: 'bar',
            data: data_total,
            options: {
                scales: {
                    y: {
                        //beginAtZero: true
                        min: {{ smallest_value|round }},
                    }
                }
            },
        };
        const total_ctx = document.getElementById('total_chart');
        let total_chart = new Chart(total_ctx, config_total);

        $.post("/dashboard/updateWeeklyPortfolioTotal", {total:{{ overall_total }}}, (json) => {
            console.log(json.total);
        });
    </script>
</div>