{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    {# {{ form(form) }} #}
    {{ form_start(form) }}
        <div class="settings_section">
            <div class="details">
                <h2>Dashboard</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorum nostrum fuga illo necessitatibus, voluptates adipisci cupiditate nesciunt porro eum aliquid, dignissimos distinctio velit repellat nisi accusamus enim vel ipsa.</p>
            </div>

            <div class="form">
                {{ form_row(form.theme) }}
                {{ form_row(form.dashboard_transactions) }}
                <div class="form switches">
                    <div class="switches row">
                        <div class="round inline">{{ form_widget(form.dashboard_portfolio_panel) }}<div class="back"><label class="but" for="settings_dashboard_portfolio_panel"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Portfolio Panel</div></div>
                        <div class="round inline">{{ form_widget(form.dashboard_portfolio_large) }}<div class="back"><label class="but" for="settings_dashboard_portfolio_large"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Large Portfolio</div></div>
                        <div class="round inline">{{ form_widget(form.dashboard_plays_panel) }}<div class="back"><label class="but" for="settings_dashboard_plays_panel"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Plays Panel</div></div>
                        <div class="round inline">{{ form_widget(form.dashboard_naked_options_panel) }}<div class="back"><label class="but" for="settings_dashboard_naked_options_panel"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Options Panel</div></div>
                        <div class="round inline">{{ form_widget(form.dashboard_cc_panel) }}<div class="back"><label class="but" for="settings_dashboard_cc_panel"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Covered Calls Panel</div></div>
                        <div class="round inline">{{ form_widget(form.dashboard_sector_weight_panel) }}<div class="back"><label class="but" for="settings_dashboard_sector_weight_panel"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Sector & Top Weights Panel</div></div>
                        <div class="round inline">{{ form_widget(form.dashboard_total_value_panel) }}<div class="back"><label class="but" for="settings_dashboard_total_value_panel"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Total Value Panel</div></div>
                        <div class="round inline">{{ form_widget(form.total_value_cc_type_assign) }}<div class="back"><label class="but" for="settings_total_value_cc_type_assign"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Total Value CC Assign</div></div>
                        <div class="round inline">{{ form_widget(form.weekly_total_value) }}<div class="back"><label class="but" for="settings_weekly_total_value"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Weekly Total Value</div></div>
                    </div>
                </div>
            </div>
        </div>

    <div class="settings_section">
        <div class="details">
            <h2>Gov't Registered Account Contribution Tracking</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorum nostrum fuga illo necessitatibus, voluptates adipisci cupiditate nesciunt porro eum aliquid, dignissimos distinctio velit repellat nisi accusamus enim vel ipsa.</p>
        </div>

        <div class="form">
            <div class="switches row">
                <div class="round inline">{{ form_widget(form.tfsa_enabled) }}<div class="back"><label class="but" for="settings_tfsa_enabled"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Use TFSA</div></div>
                <div class="round inline">{{ form_widget(form.fhsa_enabled) }}<div class="back"><label class="but" for="settings_fhsa_enabled"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Use FHSA</div></div>
                <div class="round inline">{{ form_widget(form.rrsp_enabled) }}<div class="back"><label class="but" for="settings_rrsp_enabled"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Use RRSP</div></div>
            </div>

            <div class="switches row">
                <div class="round inline">{{ form_widget(form.tfsa_track_balance) }}<div class="back"><label class="but" for="settings_tfsa_track_balance"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">TFSA Track Balance</div></div>
            </div>

            {{ form_row(form.tfsa_limit) }}
            {{ form_row(form.fhsa_limit) }}
            {{ form_row(form.rrsp_limit) }}
        </div>
    </div>

        <div class="settings_section">
            <div class="details">
                <h2>Broker Account</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorum nostrum fuga illo necessitatibus, voluptates adipisci cupiditate nesciunt porro eum aliquid, dignissimos distinctio velit repellat nisi accusamus enim vel ipsa.</p>
            </div>

            <div class="form switches">
                <div class="switches row">
                    <div class="round inline">{{ form_widget(form.dashboard_use_hot_cold_meter) }}<div class="back"><label class="but" for="settings_dashboard_use_hot_cold_meter"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Hot/Cold Meter</div></div>
                    <div class="round inline">{{ form_widget(form.dashboard_use_cash_equity_balance) }}<div class="back"><label class="but" for="settings_dashboard_use_cash_equity_balance"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">C/E Balance</div></div>
                </div>

                <div id="ceb_settings">
                    {{ form_row(form.cash_equity_balance) }}
                    <small>Set this to zero for no limit</small><br /><br />
                </div>
                {{ form_row(form.max_play_money) }}
                {{ form_row(form.max_plays) }}
                
                <h3>Stock - Price Update Options</h3>
                {{ form_row(form.stocks_canadian_update_amount_limit) }}
                {{ form_row(form.stocks_canadian_update_limit_timeout) }}

                <div class="switches row">
                    <div class="round inline">{{ form_widget(form.stocks_manual_update_enabled) }}<div class="back"><label class="but" for="settings_stocks_manual_update_enabled"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Manual</div></div>
                    <div class="round inline">{{ form_widget(form.stocks_update_sold_price) }}<div class="back"><label class="but" for="settings_stocks_update_sold_price"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Sold</div></div>
                    <div class="round inline">{{ form_widget(form.stocks_disable_update_enabled) }}<div class="back"><label class="but" for="settings_stocks_disable_update_enabled"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Disable All</div></div>
                    <div class="round inline">{{ form_widget(form.stocks_disable_canadian_update_enabled) }}<div class="back"><label class="but" for="settings_stocks_disable_canadian_update_enabled"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Disable Can</div></div>
                </div>

                <div class="switches row">
                    <div class="round inline">{{ form_widget(form.stock_update_on_weekend) }}<div class="back"><label class="but" for="settings_stock_update_on_weekend"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Update On Weekends</div></div>
                </div>
            </div>
        </div>

        <div class="settings_section">
            <div class="details">
                <h2>Portfolio Settings</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorum nostrum fuga illo necessitatibus, voluptates adipisci cupiditate nesciunt porro eum aliquid, dignissimos distinctio velit repellat nisi accusamus enim vel ipsa.</p>
            </div>

            <div class="form switches">
                <div class="switches row">
                    <div class="round inline">{{ form_widget(form.portfolio_update_on_weekend) }}<div class="back"><label class="but" for="settings_portfolio_update_on_weekend"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label">Update On Weekends</div></div>
                </div>
            </div>
        </div>


        <div class="settings_section">
            <div class="details">
                <h2>Futures Account</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorum nostrum fuga illo necessitatibus, voluptates adipisci cupiditate nesciunt porro eum aliquid, dignissimos distinctio velit repellat nisi accusamus enim vel ipsa.</p>
            </div>

            <div class="form switches">
                <div class="switches">
                    <div class="round inline">{{ form_widget(form.futures_enabled) }}<div class="back"><label class="but" for="settings_futures_enabled"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label long">Enabled</div></div>
                </div>

                {{ form_row(form.futures_play_bucket_max) }}
                {{ form_row(form.futures_profit_bucket_max) }}
                {{ form_row(form.futures_weekly_goal) }}
                {{ form_row(form.futures_data_fee) }}
                
                <h3>Futures - Broker Margin</h3>
                <div class="switches">
                    <div class="round inline">{{ form_widget(form.futures_use_broker_margin) }}<div class="back"><label class="but" for="settings_futures_use_broker_margin"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label long">Use Broker Margin</div></div>
                </div>

                <div class="settings_broker_margin_input_wrapper">
                    {{ form_row(form.futures_broker_margin_amount) }}
                </div>

                <h3>Futures - Profilt Split Levels</h3>
                <div class="switches">
                    <div class="round inline">{{ form_widget(form.futures_use_split_profits) }}<div class="back"><label class="but" for="settings_futures_use_split_profits"><span class="on">I</span><span class="off">0</span></label></div><div class="switch_label long">Split Profits</div></div>
                </div>
                <table class="settings_split_table">
                    <tr>
                        <th>Level</th>
                        <th>Amount</th>
                        <th>Ratio</th>
                    </tr>
                    <tr>
                        <td>Level 1</td>
                        <td>{{ form_row(form.futures_profit_split_level_1_amount) }}</td>
                        <td>{{ form_row(form.futures_profit_split_level_1_ratio) }}</td>
                    </tr>

                    <tr>
                        <td>Level 2</td>
                        <td>{{ form_row(form.futures_profit_split_level_2_amount) }}</td>
                        <td>{{ form_row(form.futures_profit_split_level_2_ratio) }}</td>
                    </tr>

                    <tr>
                        <td>Level 3</td>
                        <td>{{ form_row(form.futures_profit_split_level_3_amount) }}</td>
                        <td>{{ form_row(form.futures_profit_split_level_3_ratio) }}</td>
                    </tr>

                    <tr>
                        <td>Level 4</td>
                        <td>{{ form_row(form.futures_profit_split_level_4_amount) }}</td>
                        <td>{{ form_row(form.futures_profit_split_level_4_ratio) }}</td>
                    </tr>

                    <tr>
                        <td>Level 5</td>
                        <td>{{ form_row(form.futures_profit_split_level_5_amount) }}</td>
                        <td>{{ form_row(form.futures_profit_split_level_5_ratio) }}</td>
                    </tr>

                    <tr>
                        <td>Level 6</td>
                        <td>{{ form_row(form.futures_profit_split_level_6_amount) }}</td>
                        <td>{{ form_row(form.futures_profit_split_level_6_ratio) }}</td>
                    </tr>

                    <tr>
                        <td>Level 7</td>
                        <td>{{ form_row(form.futures_profit_split_level_7_amount) }}</td>
                        <td>{{ form_row(form.futures_profit_split_level_7_ratio) }}</td>
                    </tr>
                </table>
            </div>
        </div>
        
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    <script>
        $(() => {

            if($("#settings_dashboard_use_cash_equity_balance").prop('checked')){
                $("#ceb_settings").css("opacity", "1");
                $("#ceb_settings input").removeAttr("readonly");
            } else {
                $("#ceb_settings").css("opacity", "0.5");
                $("#ceb_settings input").attr("readonly", true);
            }

            $("#settings_dashboard_use_cash_equity_balance").on("click", function(){
                if($(this).prop('checked')){
                    $("#ceb_settings").css("opacity", "1");
                    $("#ceb_settings input").removeAttr("readonly");
                } else {
                    $("#ceb_settings").css("opacity", "0.5");
                    $("#ceb_settings input").attr("readonly", true);
                }
            });

            if($("#settings_futures_use_broker_margin").prop('checked')){
                $(".settings_broker_margin_input_wrapper").css("opacity", "1");
                $(".settings_broker_margin_input_wrapper input").removeAttr("readonly");
            } else {
                $(".settings_broker_margin_input_wrapper").css("opacity", "0.5");
                $(".settings_broker_margin_input_wrapper input").attr("readonly", true);
            }

            $("#settings_futures_use_broker_margin").on("click", function(){
                if($(this).prop('checked')){
                    $(".settings_broker_margin_input_wrapper").css("opacity", "1");
                    $(".settings_broker_margin_input_wrapper input").removeAttr("readonly");
                } else {
                    $(".settings_broker_margin_input_wrapper").css("opacity", "0.5");
                    $(".settings_broker_margin_input_wrapper input").attr("readonly", true);
                }
            })

            // fade out toogle inputs..
            if($("#settings_futures_use_split_profits").prop('checked')){
                $(".settings_split_table").css("opacity", "1");
                $(".settings_split_table input").removeAttr("readonly");
            } else {
                $(".settings_split_table").css("opacity", "0.5");
                $(".settings_split_table input").attr("readonly", true);
            }

            $("#settings_futures_use_split_profits").on("click", function(){
                if($(this).prop('checked')){
                    $(".settings_split_table").css("opacity", "1");
                    $(".settings_split_table input").removeAttr("readonly");
                } else {
                    $(".settings_split_table").css("opacity", "0.5");
                    $(".settings_split_table input").attr("readonly", true);
                }
            })
        });
    </script>
{% endblock %}
