<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BSX - My Personal Stock Managment System{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@83.9,300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/assets/css/tailwind_output.css">
            <link rel="stylesheet" href="/assets/css/master.min.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="//unpkg.com/alpinejs" defer></script>
            <script src="/assets/js/moment.min.js"></script>
            <script src="/assets/js/chart.min.js"></script>
            <script src="/assets/js/ag-grid.min.js"></script>
            <script src="/assets/js/master.js"></script>
        {% endblock %}
    </head>
    {% set theme = "" %}
    {% if settings.theme|default(null) %}
        {% if settings.theme == 1 %}{% set theme = "light" %}{% endif %}
        {% if settings.theme == 2 %}{% set theme = "dark" %}{% endif %}
    {% endif %}
    <body class="theme_{{ theme }}">
        <div class="container bg-gray-50">
            {% block navbar %}{% include "partials/navbar.html.twig" %}{% endblock %}<!--
        --><div class="page_content !bg-gray-50">
                <header>
                    <div class="page_title">{{ block('title') }}</div>

                    {% if app.user %}
                    <div class="user_panel">
                        <div class="profile_pic" style="background-image: url(/assets/images/user_profile_pictures/{{ app.user.id }}.jpg);"></div>
                        <div class="user_text">
                            <div class="realname">{{ app.user.realname }}</div>
                            <div class="username">{{ app.user.username }}</div>
                        </div>
                    </div>
                    {% endif %}
                </header>

                {% block body %}{% endblock %}
            </div>
        </div>

        {% include "project_notes.html.twig" %}
    </body>
</html>
