{% extends 'base.html.twig' %}

{% block title %}BSX - Dashboard <div class="search_wrapper" style="display:inline;"><input type="text" placeholder="search stocks" /><div class="results"></div></div>{% endblock %}

{% block body %}

    {% set stock_amount = 0 %}
    {% set stock_average = 0 %}

    {% for buy in stock.shareBuys %}
        {% if buy.sold < buy.amount %}
            {% set remaining = buy.amount - buy.sold %}
            {% set stock_amount = stock_amount + remaining %}
            {% set buy_average = remaining * buy.price %}
            {% set stock_average = stock_average + buy_average %}
        {% endif %}
    {% endfor %}

    {% set stock_dividend = 0 %}
    {% set stock_amount = 0 %}
    {% set stock_average = 0 %}
    {% set stock_money_total = 0 %}
    {% set stock_earned = stock.earned %}
    {% set stock_current = stock.currentPrice %}
    {% set stock_breakeven = 0 %}
    {% set stock_pl = 0 %}
    {% set stock_buy_cost_total = 0 %}
    {% set buys = 0 %}
    {% set sells = 0 %}
    {% set d_bought = "" %}
    {% set d_sold = "" %}
    {% set buy_average = 0 %}

    {% set today = "now"|date('d-m-Y') %}
    {% set lastBuyDate = today %}
    {% set breakeven_fee = false %}


    {% for buy in stock.shareBuys %}
        {% set d_bought = buy.date %}
        {% if stock.noFee or buy.noFee %}
            {% set stock_buy_cost_total = stock_buy_cost_total + (buy.amount * buy.price) %}
        {% else %}
            {% set breakeven_fee = true %}
            {% set stock_buy_cost_total = stock_buy_cost_total + (buy.amount * buy.price) + 9.95 %}
        {% endif %}
        {% if buy.sold < buy.amount %}
            {% set remaining = buy.amount - buy.sold %}
            {% set buys = buys + 1 %}
            {% set stock_amount = stock_amount + remaining %}
            {% set buy_average = remaining * buy.price %}
            {% set stock_average = stock_average + buy_average %}
            {% set stock_money_total = stock_money_total + buy_average %}
            {% set lastBuyDate = buy.date|date('d-m-Y') %}
        {% endif %}

    {% endfor %}

    {# {{ stock_buy_cost_total }} | {{ stock_amount }} | {{ buy_average }} | {{ stock_average }} #}


    {% if stock_amount > 0 %}
        {% set stock_average = stock_average / stock_amount %}
        {% if stock.noFee or breakeven_fee == false %}
            {% set fee = 0 %}
        {% else %}
            {% set fee = ((buys * 9.95) + 9.95) / stock_amount %}
        {% endif %}
        {% set stock_breakeven = fee + stock_average %}
        {% set diff = stock_current - stock_breakeven %}
        {% set stock_pl = diff * stock_amount %}
    {% endif %}

    {% set total_sold = 0 %}
    {% for sell in stock.shareSells %}
        {% set sells = sells + 1 %}
        {% if stock.noFee %}
            {% set total_sold = total_sold + (sell.amount * sell.price) %}
            {% set stock_earned = stock_earned + (sell.amount * sell.price) %}
        {% else %}
            {% set total_sold = total_sold + (sell.amount * sell.price) - 9.95 %}
            {% set stock_earned = stock_earned + (sell.amount * sell.price) - 9.95 %}
        {% endif %}
        {% set d_sold = sell.date %}
    {% endfor %}

    {% for divi in stock.dividends %}
        {% set stock_dividend = stock_dividend + divi.amount %}
    {% endfor %}

    {% set stock_earned = stock_earned + stock_dividend - stock_buy_cost_total %}
    {% set cc_total = 0 %}
    {% set breakeven_cc = 0 %}
    {% for cc in stock.coveredCalls %}
        {% set cc_total = cc_total + (((cc.price * cc.contracts) * 100) - 9.95 - (1.25 * cc.contracts)) - cc.buyoutPrice %}
        {% set stock_earned = stock_earned + (((cc.price * cc.contracts) * 100) - 9.95 - (1.25 * cc.contracts)) %}}
        {% if stock_amount > 0 %}
            {% set breakeven_cc = stock_breakeven - (cc_total / stock_amount) %}
        {% endif %}
    {% endfor %}

    {% set buyDateDifference = date(today).diff(date(lastBuyDate))%}
    {% set daysSinceLastBuy = buyDateDifference.days %}

    {% set options_total = 0 %}
    {% set options_cost = 0 %}
    {% set options_rollover = 0 %}
    {% for option in stock.options %}
        {% set options_rollover = 0 %}
        {% for rollover in option.optionRollovers %}
            {{ rollover.oldPrice }}
            {% set options_rollover = options_rollover + ((((rollover.oldPrice - rollover.newPrice) * rollover.contracts) * 100) - 9.95 - (1.25 * rollover.contracts)) %}
            ROLLOVER: {{ options_rollover }}<br />
            {% set options_cost = options_cost + (9.95 + (1.25 * rollover.contracts)) %}
        {% endfor %}
        {% set option_fees = (9.95 * (option.buys + option.sells)) + (1.25 * option.totalContracts) + 1.25 * option.totalContractsSold %}
        {% set options_total = options_total - option_fees + ((option.totalContractsSold * (option.sellPrice * 100)) - (option.totalContracts * (option.average * 100))) + options_rollover %}

        {% set options_cost = options_cost + (option.totalContracts * (option.average * 100)) %}
    {% endfor %}

    <div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <div class="border-8 border-black rounded-full w-80 h-80" style="background-color:#{{ stock.bgColor }}; background-image:url('/assets/images/company_logos/{{ stock.ticker }}.jpg'); background-position: center center; background-repeat: no-repeat; background-size:cover;"></div>
            <div class="sm:col-span-2">
                <div class="text-6xl"><span class="text-9xl" style="font-size: 190px;">{{ stock.ticker }}</span> <span>${{ stock.currentPrice|number_format(2) }}</span></div>
                <div>

                </div>
            </div>

        </div>
        <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Stock Information</h3>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal details and application.</p>
        </div>
        <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">

                {# Company Details #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Company Name</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ stock.name }}</dd>
                </div>

                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Sector</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ stock.sector.name }}</dd>
                </div>

                {# Stock Details #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Stock Type</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-1 sm:mt-0">{% if stock.country == "USD" %}<img src="/assets/images/flag_us.png" alt=""> United States (NYSE){% else %}<img src="/assets/images/flag_can.png" alt="">Canada (TSX){% endif %}</dd>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-1 sm:mt-0"><img src="/assets/images/{{ stock.type }}_chip.png">{{ stock.type }} CHIP</dd>
                </div>

                {# Amount Owned #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Amount Owned</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ stock_amount }}</dd>
                </div>

                {# Performance #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Performance</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {% if stock_amount > 0 %}
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <h2>Yesterday</h2>
                                    {% set percent_change = ((stock_current / stock.priceYesterday) * 100) - 100 %}
                                    <span class="text-4xl" style="color:{% if percent_change > 0 %}green{% elseif percent_change < 0 %}red{% else %}black{% endif %};">{{ percent_change|number_format(2) }}%</span><br />Stock Price: ${{ stock.priceYesterday|number_format(2) }}
                                </td>

                                <td>
                                    <h2>Week</h2>
                                    {% set percent_change = ((stock_current / stock.priceWeek) * 100) - 100 %}
                                    <span class="text-4xl" style="color:{% if percent_change > 0 %}green{% elseif percent_change < 0 %}red{% else %}black{% endif %};">{{ percent_change|number_format(2) }}%</span></span><br />Stock Price: ${{ stock.priceWeek|number_format(2) }}
                                </td>

                                <td>
                                    <h2>Month</h2>
                                    {% set percent_change = ((stock_current / stock.priceMonth) * 100) - 100 %}
                                    <span class="text-4xl" style="color:{% if percent_change > 0 %}green{% elseif percent_change < 0 %}red{% else %}black{% endif %};">{{ percent_change|number_format(2) }}%</span><br />Stock Price: ${{ stock.priceMonth|number_format(2) }}
                                </td>

                                <td>
                                    <h2>Year</h2>
                                    {% set percent_change = ((stock_current / stock.priceYear) * 100) - 100 %}
                                    <span class="text-4xl" style="color:{% if percent_change > 0 %}green{% elseif percent_change < 0 %}red{% else %}black{% endif %};">{{ percent_change|number_format(2) }}%</span><br />Stock Price: ${{ stock.priceYear|number_format(2) }}
                                </td>
                            </tr>
                        </table>
                        {% else %}
                            No Performance Metrics for Stock with No Shares.
                        {% endif %}
                    </dd>
                </div>

                {# Key Dates #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Key Dates</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <div class="relative overflow-x-auto">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Last Bought</th>
                                    <th scope="col" class="px-6 py-3">Last Sold</th>
                                    <th scope="col" class="px-6 py-3">Days Owned</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <td class="px-6 py-4">{% if d_bought != "" %}{{ d_bought|date("m/d/Y") }}{% endif %}</td>
                                    <td class="px-6 py-4">{% if d_sold != "" %}{{ d_sold|date("m/d/Y") }}{% else %}Never Sold{% endif %}</td>
                                    <td class="px-6 py-4">{{ daysSinceLastBuy }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </dd>
                </div>

                {# Status #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Position Status</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {% set cc_debt = 0 %}
                        {% set options_debt = 0 %}
                        {% set cc_earned = 0 %}
                        {% set options_earned = 0 %}

                        {% if cc_total < 0 %}
                            {% set cc_debt = cc_total * -1 %}
                        {% elseif cc_total > 0  %}
                            {% set cc_earned = cc_total %}
                        {% endif %}

                        {% if options_total < 0 %}
                            {% set options_debt = options_total * -1 %}
                        {% elseif options_total > 0  %}
                            {% set options_earned = options_total %}
                        {% endif %}

                        {% set total_debt = stock_buy_cost_total + cc_debt + options_debt %}
                        {% set total_returned =  total_sold + stock_dividend + cc_earned + options_earned %}
                        {% set share_value = (stock_amount * stock.currentPrice) %}

                        {% set status_total_value = total_returned + share_value %}

                        {% set percent_increase = (((status_total_value - total_debt) / total_debt) * 100) %}

                        <div id="status_debug" style="display:none;">
                            sold:{{ total_sold }} - bought:{{ stock_buy_cost_total }} + divi:{{ stock_dividend }} + covered_call:{{ cc_total }} + options:{{ options_total }}<br /><br />
                            Total Debt: ${{ total_debt }}<br />
                            Share Value: {{ stock_amount }} * {{ stock.currentPrice }} = ${{ share_value|number_format(2) }}<br />
                            Total Sold: ${{ total_returned }}<br />
                            Percent Increase: {{ percent_increase|number_format(2) }}%;<br />
                        </div>

                        {% if total_debt >= total_returned %}
                            <div class="bg-rose-700" style="display:inline-block; width:20px; height:20px;"></div> UNDERWATER
                            {% set range_stage = 1 %}
                            {% set percent_plus = 0 %}
                            {% set block_percent = (100 + percent_increase) %}
                        {% else %}
                            {% set percent_increase = ((((total_returned + share_value) - total_debt) / total_debt) * 100) %}
                            {% if percent_increase < 100 %}
                                <div class="bg-green-700" style="display:inline-block; width:20px; height:20px;"></div> PROFITABLE
                                {% set range_stage = 2 %}
                                {% set percent_plus = 12 %}
                                {% set block_percent = percent_increase %}
                            {% elseif percent_increase < 200 %}
                                <div class="bg-yellow-800" style="display:inline-block; width:20px; height:20px;"></div> GOLD LEVEL 1 (+100%)
                                {% set range_stage = 3 %}
                                {% set percent_plus = 24 %}
                                {% set block_percent = percent_increase - 100 %}
                            {% elseif percent_increase < 300 %}
                                <div class="bg-yellow-700" style="display:inline-block; width:20px; height:20px;"></div> GOLD LEVEL 2 (+200%)
                                {% set range_stage = 4 %}
                                {% set percent_plus = 36 %}
                                {% set block_percent = percent_increase - 200 %}
                            {% elseif percent_increase < 400 %}
                                <div class="bg-yellow-600" style="display:inline-block; width:20px; height:20px;"></div> GOLD LEVEL 3 (+300%)
                                {% set range_stage = 5 %}
                                {% set percent_plus = 48 %}
                                {% set block_percent = percent_increase - 300 %}
                            {% elseif percent_increase < 500 %}
                                <div class="bg-yellow-500" style="display:inline-block; width:20px; height:20px;"></div> GOLD LEVEL 4 (+400%)
                                {% set range_stage = 6 %}
                                {% set percent_plus = 60 %}
                                {% set block_percent = percent_increase - 400 %}
                            {% else %}
                                <div class="bg-yellow-400" style="display:inline-block; width:20px; height:20px;"></div> GOLD LEVEL 5 (+500%)
                            {% endif %}
                        {% endif %}
                        <button id="status_debug_btn" class="my-5 bg-blue-500 text-white py-2 px-4 rounded font-bold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" onclick="show_status_legend();">Show Status Debug</button>
                        <script>
                            let status_debug_hidden = true;
                            function show_status_legend(){
                                if (!status_debug_hidden){
                                    document.getElementById("status_debug_btn").innerHTML = "Show Debug";
                                    document.getElementById('status_debug').style.display = 'none';
                                    status_debug_hidden = true;
                                } else {
                                    document.getElementById("status_debug_btn").innerHTML = "Hide Debug";
                                    document.getElementById('status_debug').style.display = 'block';
                                    status_debug_hidden = false;
                                }
                            }
                        </script>

                        {% set marker_percent = percent_plus + (block_percent * 0.4) %}

                        <div class="relative" style="background:white; border:solid 1px black; border-radius:50px; height:30px;">
                            <div class="marker" style="left:{{ marker_percent|number_format(2) }}%"></div>
                            <div class="stage bg-rose-700" style="{% if range_stage == 1 %}width:40%;{% else %}width:12%;{% endif %} left:0; border-radius: 50px 0 0 50px;">{% if range_stage == 1 %}<span class="left">-100%</span><span class="middle"> - </span>{% endif %}<span class="right">0%</span></div><!--
                            --><div class="stage bg-green-600" style="{% if range_stage == 2 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 2 %}<span class="left">0%</span><span class="middle"> - </span>{% endif %}<span class="right">100%</span></div><!--
                            --><div class="stage bg-yellow-700" style="{% if range_stage == 3 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 3 %}<span class="left">100%</span><span class="middle"> - </span>{% endif %}<span class="right">200%</span></div><!--
                            --><div class="stage bg-yellow-600" style="{% if range_stage == 4 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 4 %}<span class="left">200%</span><span class="middle"> - </span>{% endif %}<span class="right">300%</span></div><!--
                            --><div class="stage bg-yellow-500" style="{% if range_stage == 5 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 5 %}<span class="left">300%</span><span class="middle"> - </span>{% endif %}<span class="right">400%</span></div><!--
                            --><div class="stage bg-yellow-400" style="{% if range_stage == 6 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 6 %}<span class="left">400%</span><span class="middle"> - </span>{% endif %}<span class="right">500%</span></div>
                        </div>
                    </dd>
                </div>

                {# Status Range Meter #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Status Range Meter</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">

                        {% set min_price = 0 %}
                        {% set profit_price = ((stock_buy_cost_total + options_cost) * 1) / stock_amount|abs %}
                        {% set gold_price_1 = ((stock_buy_cost_total + options_cost) * 2) / stock_amount|abs %}
                        {% set gold_price_2 = ((stock_buy_cost_total + options_cost) * 4) / stock_amount|abs %}
                        {% set gold_price_3 = ((stock_buy_cost_total + options_cost) * 8) / stock_amount|abs %}
                        {% set gold_price_4 = ((stock_buy_cost_total + options_cost) * 16) / stock_amount|abs %}
                        {% set gold_price_5 = ((stock_buy_cost_total + options_cost) * 32) / stock_amount|abs %}

                        {% set marker_percent = ((stock.currentPrice / gold_price_5) * 100) %}

                        {% if stock.currentPrice < profit_price %}
                            {% set range_stage = 1 %}
                            {% set block_percent = (stock.currentPrice / profit_price) %}
                            {% set percent_plus = 0 %}
                        {% elseif stock.currentPrice < gold_price_1 %}
                            {% set range_stage = 2 %}
                            {% set block_percent = ((stock.currentPrice - profit_price) / (gold_price_1 - profit_price)) %}
                            {% set percent_plus = 12 %}
                        {% elseif stock.currentPrice < gold_price_2 %}
                            {% set range_stage = 3 %}
                            {% set block_percent = ((stock.currentPrice - gold_price_1) / (gold_price_2 - gold_price_1)) %}
                            {% set percent_plus = 24 %}
                        {% elseif stock.currentPrice < gold_price_3 %}
                            {% set range_stage = 4 %}
                            {% set block_percent = ((stock.currentPrice - gold_price_2) / (gold_price_3 - gold_price_2)) %}
                            {% set percent_plus = 36 %}
                        {% elseif stock.currentPrice < gold_price_4 %}
                            {% set range_stage = 5 %}
                            {% set block_percent = ((stock.currentPrice - gold_price_3) / (gold_price_4 - gold_price_3)) %}
                            {% set percent_plus = 48 %}
                        {% elseif stock.currentPrice < gold_price_5 %}
                            {% set range_stage = 6 %}
                            {% set block_percent = ((stock.currentPrice - gold_price_4) / (gold_price_5 - gold_price_4)) %}
                            {% set percent_plus = 60 %}
                        {% else %}
                            {% set range_stage = 6 %}
                            {% set block_percent = 1 %}
                            {% set percent_plus = 60 %}
                        {% endif %}

                        {% set marker_percent = percent_plus + (block_percent * 40) %}

                        <style>
                            .marker {
                                position: absolute;
                                top: -10px;
                                width: 0px;
                                height: 0px;
                                border-style: solid;
                                border-width: 0 10px 15px 10px;
                                border-color: transparent transparent #000000 transparent;
                                transform: rotate(180deg);
                                z-index: 10;
                            }

                            .stage {
                                position: relative;
                                display: inline-block;
                                width: 20%;
                                height: 100%;
                                padding-right: 5px;
                                border-right: solid 2px black;
                                text-align: right;
                                z-index: 5;

                                color: white;
                                text-shadow: rgba(0,0,0,1) 1px 1px 2px;

                                .left{
                                    position: absolute;
                                    left: 5px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                .middle{
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }

                                .right{
                                    position: absolute;
                                    right: 5px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                            .stage:first-of-type{
                                border-radius: 50px 0 0 50px;
                            }

                            .stage:last-of-type{
                                border-right: 0;
                                border-radius: 0 50px 50px 0;
                            }
                        </style>

                        <div class="relative" style="background:white; border:solid 1px black; border-radius:50px; height:30px;">
                            <div class="marker" style="left:{{ marker_percent|number_format(2) }}%"></div>
                            <div class="stage bg-rose-700" style="{% if range_stage == 1 %}width:40%;{% else %}width:12%;{% endif %} left:0; border-radius: 50px 0 0 50px;">{% if range_stage == 1 %}<span class="left">$0.00</span><span class="middle"> - </span>{% endif %}<span class="right">${{ profit_price|number_format(2) }}</span></div><!--
                            --><div class="stage bg-green-600" style="{% if range_stage == 2 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 2 %}<span class="left">${{ profit_price|number_format(2) }}</span><span class="middle"> - </span>{% endif %}<span class="right">${{ gold_price_1|number_format(2) }}</span></div><!--
                            --><div class="stage bg-yellow-700" style="{% if range_stage == 3 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 3 %}<span class="left">${{ gold_price_1|number_format(2) }}</span><span class="middle"> - </span>{% endif %}<span class="right">${{ gold_price_2|number_format(2) }}</span></div><!--
                            --><div class="stage bg-yellow-600" style="{% if range_stage == 4 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 4 %}<span class="left">${{ gold_price_2|number_format(2) }}</span><span class="middle"> - </span>{% endif %}<span class="right">${{ gold_price_3|number_format(2) }}</span></div><!--
                            --><div class="stage bg-yellow-500" style="{% if range_stage == 5 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 5 %}<span class="left">${{ gold_price_3|number_format(2) }}</span><span class="middle"> - </span>{% endif %}<span class="right">${{ gold_price_4|number_format(2) }}</span></div><!--
                            --><div class="stage bg-yellow-400" style="{% if range_stage == 6 %}width:40%;{% else %}width:12%;{% endif %}">{% if range_stage == 6 %}<span class="left">${{ gold_price_4|number_format(2) }}</span><span class="middle"> - </span>{% endif %}<span class="right">${{ gold_price_5|number_format(2) }}</span></div>
                        </div>

                        <button id="legend_btn" class="my-5 bg-blue-500 text-white py-2 px-4 rounded font-bold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" onclick="showLegend();">Show Legend</button>

                        <div class="legend py-5" id="price_range_legend" style="display:none;">
                            Profit Price = ${{ profit_price|number_format(2) }}<br />
                            Gold 1 Price = ${{ gold_price_1|number_format(2) }} - Sell {{ stock_amount / 2 }} Shares to enable Gold Status<br />
                            Gold 2 Price = ${{ gold_price_2|number_format(2) }} - Sell {{ stock_amount / 4 }} Shares to enable Gold Status<br />
                            Gold 3 Price = ${{ gold_price_3|number_format(2) }} - Sell {{ stock_amount / 8 }} Shares to enable Gold Status<br />
                            Gold 4 Price = ${{ gold_price_4|number_format(2) }} - Sell {{ stock_amount / 16 }} Shares to enable Gold Status<br />
                            Gold 5 Price = ${{ gold_price_5|number_format(2) }} - Sell {{ stock_amount / 32 }} Shares to enable Gold Status<br />
                        </div>


                        <script>
                            let legend_hidden = true;
                            function showLegend(){
                                if (!legend_hidden){
                                    document.getElementById("legend_btn").innerHTML = "Show Legend";
                                    document.getElementById('price_range_legend').style.display = 'none';
                                    legend_hidden = true;
                                } else {
                                    document.getElementById("legend_btn").innerHTML = "Hide Legend";
                                    document.getElementById('price_range_legend').style.display = 'block';
                                    legend_hidden = false;
                                }
                            }
                        </script>
                    </dd>
                </div>

                {# Earned #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Earned</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        sold:{{ total_sold }} - bought:{{ stock_buy_cost_total }} + divi:{{ stock_dividend }} + covered_call:{{ cc_total }} + options:{{ options_total }}<br />
                        <br />
                        {% set new_total = (total_sold - stock_buy_cost_total + stock_dividend + cc_total + options_total) %}
{#                        <span class="text-3xl">${{ stock_earned|number_format(2) }}</span>#}
                        <span class="text-3xl">${{ new_total|number_format(2) }}</span>
                    </dd>
                </div>

                {# Breakeven Price #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Break Even Prices</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <div class="flex flex-col">
                            <div class="-m-1.5 overflow-x-auto">
                                <div class="p-1.5 min-w-full inline-block align-middle">
                                    <div class="border rounded-lg shadow overflow-hidden dark:border-neutral-700 dark:shadow-gray-900">
                                        <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
                                            <thead>
                                            <tr class="divide-x divide-gray-200 dark:divide-neutral-700">
                                                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">Shares Only</th>
                                                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500">with Covered Calls</th>
                                            </tr>
                                            </thead>
                                            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                                            <tr>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200"><span class="text-3xl">${{ stock_breakeven|number_format(2) }}</span></td>
                                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200"><span class="text-3xl">${{ breakeven_cc|number_format(2) }}</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                </div>

                {# Written Options #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Written Options</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {% if stock.coveredCalls is empty %}
                            No covered calls sold on this stock
                        {% else %}
                        <table style="text-align:center;">
                            <tr>
                                <th>Price |</th>
                                <th><small>Contracts</small> |</th>
                                <th>Strike |</th>
                                <th><small>Expiry Date |</small></th>
                                <th>Status |</th>
                                <th>Earned | </th>
                                <th><small>Buy/Expire +/-</small> | </th>
                                <th><small>Strike +/-</small> | </th>
                                <th>🎯% |</th>
                                <th>Stats <small>(EPS|SBP|SEP)</small></th>
                            </tr>
                            {% for cc in stock.coveredCalls %}
                            <tr>
                                {% set cc_earned = ((cc.price * cc.contracts * 100) - 9.95 - (1.25 * cc.contracts)) %}

                                {% if cc.buyout or cc.partiallyBoughtout %}
                                    {% set cc_earned = cc_earned - cc.buyoutPrice %}
                                {% endif %}

                                {% set eps = cc_earned / (cc.contracts * 100)  %}

                                {% if cc.exercised %}
                                    {% set cc_diff = cc.strike - (cc.stockBuyPrice - eps) %}
                                {% else %}
                                    {% set cc_diff = cc.stockExpiryPrice - (cc.stockBuyPrice - eps) %}
                                {% endif %}

                                {% set cc_be_diff = (cc.stockBuyPrice - cc.stockExpiryPrice) * -1 %}
                                {% set cc_se_diff = (cc.stockExpiryPrice - cc.strike) %}
                                {% set cc_se_per = ((cc.stockExpiryPrice - (cc.strike - 0.02)) / (cc.strike - 0.02)) * 100 %}
                                {% set cc_ab_per = cc_se_per %}
                                {% set cc_away_from_target = 100 + cc_ab_per %}

                                {% set cc_be_diff2 = (cc.stockBuyPrice - stock.currentPrice) * -1 %}
                                {% set cc_se_diff2 = (stock.currentPrice - cc.strike) %}
                                {% set cc_se_per2 = ((stock.currentPrice - (cc.strike - 0.02)) / (cc.strike - 0.02)) * 100 %}
                                {% set cc_ab_per2 = cc_se_per2 %}
                                {% set cc_away_from_target2 = 100 + cc_ab_per2 %}


                                <td>{{ cc.price|number_format(2) }}</td>
                                <td>{{ cc.contracts }}</td>
                                <td>{{ cc.strike|number_format(2) }}</td>
                                <td>{{ cc.expiry|date("m/d/Y") }}</td>
                                <td>
                                    {% if cc.buyout %}
                                        <small>Buyout</small>
                                    {% elseif cc.expired %}
                                        <small>Expired</small>
                                    {% elseif cc.exercised %}
                                        <small>Exercised</small>
                                    {% else %}
                                        {% if cc.partiallyBoughtout %}
                                            <small>Ongoing/PBO</small>
                                        {% else %}
                                            <small>Ongoing</small>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>${{ cc_earned|number_format(2) }}</td>
                                <td class="{% if cc_be_diff > 0 %}green{% else %}red{% endif %}">
                                    <span class="{% if cc_be_diff > 0 %}green{% else %}red{% endif %}">{% if cc_be_diff > 0 %}+{% endif %}{{ cc_be_diff|number_format(2) }}</span>
                                </td>
                                <td class="{% if cc_se_diff < 0 %}green{% else %}red{% endif %}">
                                    <span>{% if cc_se_diff > 0 %}+{% endif %}{{ cc_se_diff|number_format(2) }}</span>
                                </td>

                                {% if cc.buyout or cc.expired or cc.exercised %}
                                    <td class="{% if cc_se_per < 0 %}green{% else %}red{% endif %}">
                                        <span>{{ cc_away_from_target|number_format(1) }}% | </span>
                                    </td>
                                    <td>{{ eps|number_format(3) }} | {{ cc.stockBuyPrice }} | {{ cc.stockExpiryPrice }}</td>
                                {% else %}
                                    {% set cc_be_diff2 = (cc.stockBuyPrice - stock.currentPrice) * -1 %}
                                    {% set cc_se_diff2 = (stock.currentPrice - cc.strike) %}
                                    {% set cc_se_per2 = ((stock.currentPrice - (cc.strike - 0.02)) / (cc.strike - 0.02)) * 100 %}
                                    {% set cc_ab_per2 = cc_se_per2 %}
                                    {% set cc_away_from_target2 = 100 + cc_ab_per2 %}
                                    <td class="{% if cc_se_per < 0 %}green{% else %}red{% endif %}">
                                        <span>{{ cc_away_from_target2|number_format(1) }}% | </span>
                                    </td>
                                    <td>{{ eps|number_format(3) }} | {{ cc.stockBuyPrice }} | {{ stock.currentPrice|number_format(2) }}</td>
                                {% endif %}
                            </tr>

                            {% if cc.writtenOptionRollovers is not empty %}
                            <tr>
                                <td colspan="10">
                                    <table style="font-size: 12px; text-align: center; width: 100%;">
                                        <tr>
                                            <th style="font-size: 14px;">Rollovers:</th>
                                            <th>Price |&nbsp;</th>
                                            <th>Amount |&nbsp;</th>
                                            <th>Old Expiry |&nbsp;</th>
                                            <th>New Expiry |&nbsp;</th>
                                            <th>Old Strike |&nbsp;</th>
                                            <th>New Strike |&nbsp;</th>
                                            <th>Stock RO Price</th>
                                        </tr>
                                        {% for ro in cc.writtenOptionRollovers %}
                                        <tr>
                                            <td></td>
                                            <td>{{ ro.price|number_format(2)  }}</td>
                                            <td>{{ ro.amount|number_format(2) }}</td>
                                            <td>{{ ro.oldExpiry|date("m/d/Y") }}</td>
                                            <td>{{ ro.newExpiry|date("m/d/Y") }}</td>
                                            <td>{{ ro.oldStrike|number_format(2)  }}</td>
                                            <td>{{ ro.newStrike|number_format(2)  }}</td>
                                            <td>{{ ro.stockRolloverPrice|number_format(2)  }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>

                                </td>
                            </tr>
                            {% endif%}
                        {% endfor %}
                        </table>
                        {% endif %}
                    </dd>
                </div>

                {# Dividend #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Dividend</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {% if stock.paysDividend %}
                            <table>
                                <tr>
                                    <th>Total Amount</th>
                                    <th># of Payments</th>
                                    <th></th>
                                </tr>
                            </table>
                            ${{ stock_dividend|number_format(2) }}
                        {% else %}
                            No Dividend
                        {% endif %}
                    </dd>
                </div>

                {# Plays History #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Plays History</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <table style="width:100%;">
                            <tr>
                                <th>Play Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Amount Earned</th>
                            </tr>
                            {% for play in stock.plays %}
                                {% set current_price = play.stock.currentPrice %}

                                {% set bought = (play.shareAverage * play.sharesTotal) + (9.95 * play.sharesTotalBuys) %}
                                {% set bought = bought + (play.contractsAverage * play.contractsTotal) + (9.95 * play.contractsTotalBuys) + (1.25 * play.contractsTotal) %}

                                {% set sold = play.totalSold + play.writtenOptionTotal %}
                                {% set total_percent = (((sold) - bought) / bought) * 100 %}

                                {% set earned = sold - bought %}

                                <tr>
                                <td>{{ play.name }}</td>
                                <td>{{ play.startDate|date("m/d/Y") }}</td>
                                <td>{{ play.endDate|date("m/d/Y") }}</td>
                                <td>${{ earned|number_format(2) }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </dd>
                </div>

                {# Share Ownership History #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Share Ownership History</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <table style="width: 100%">
                            <tr>
                                <th>BUYS</th>
                                <th>SELLS</th>
                            </tr>
                            <tr>
                                <td>
                                    <table class="buy_table" style="width: 100%; vertical-align: top;">
                                        <tr>
                                            <th>DATE</th>
                                            <th>AMOUNT</th>
                                            <th>PRICE</th>
                                        </tr>

                                        {% for buy in stock.shareBuys %}
                                            <tr>
                                                <td>{{ buy.date|date("m/d/Y") }}</td>
                                                <td>{{ buy.amount }}</td>
                                                <td>{{ buy.price }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                                <td>
                                    <table class="sell_table" style="width: 100%; vertical-align: top;">
                                        <tr>
                                            <th>DATE</th>
                                            <th>AMOUNT</th>
                                            <th>PRICE</th>
                                        </tr>
                                        {% for sell in stock.shareSells %}
                                            <tr>
                                                <td>{{ sell.date|date("m/d/Y") }}</td>
                                                <td>{{ sell.amount }}</td>
                                                <td>{{ sell.price }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </dd>
                </div>

                {# Options Ownership History #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Options Ownership History</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        <table class="buy_table" style="width: 100%; vertical-align: top;">
                            <tr>
                                <th>Buy Date</th>
                                <th>Expiry Date</th>
                                <th>Contracts</th>
                                <th>Average</th>
                                <th>Sell Date</th>
                                <th>Sell Price</th>
                            </tr>

                            {% for option in stock.options %}
                                <tr>
                                    <td>{{ option.buyDate|date("m/d/Y") }}</td>
                                    <td>{{ option.expiry|date("m/d/Y") }}</td>
                                    <td>{{ option.contracts }}</td>
                                    <td>{{ option.average }}</td>
                                    {% if option.expired and option.totalContractsSold == 0 %}
                                        <td colspan="2">Expired</td>
                                    {% elseif option.totalContractsSold == 0 %}
                                        <td colspan="2">No Contracts sold</td>
                                    {% else %}
                                        <td>{{ option.sellDate|date("m/d/Y") }}</td>
                                        <td>${{ option.sellPrice|number_format(2) }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </dd>
                </div>

                {# Attachments #}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Attachments</dt>
                    <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                            <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                <div class="flex w-0 flex-1 items-center">
                                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                    </svg>
                                    <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                        <span class="truncate font-medium">resume_back_end_developer.pdf</span>
                                        <span class="flex-shrink-0 text-gray-400">2.4mb</span>
                                    </div>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                                </div>
                            </li>
                            <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                <div class="flex w-0 flex-1 items-center">
                                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                    </svg>
                                    <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                        <span class="truncate font-medium">coverletter_back_end_developer.pdf</span>
                                        <span class="flex-shrink-0 text-gray-400">4.5mb</span>
                                    </div>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}