{% extends 'base.html.twig' %}

{% block title %}BSX - Dashboard <div class="search_wrapper" style="display:inline;"><input type="text" placeholder="search stocks" id="stocksearch" /><div class="results"></div></div>{% endblock %}

{% block body %}
    <div class="wide_column relative">

        <ul id="searchresults" style="display:none;" class="absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
            <!--
              Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

              Highlighted: "bg-indigo-600 text-white", Not Highlighted: "text-gray-900"
            -->
            {% for stock in stocks %}
                <li data-name="{{ stock.name }}" data-ticker="{{ stock.ticker }}" data-sector="{{ stock.company.sector.name }}" class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900 hover:bg-gray-50 hover:cursor-pointer" id="listbox-option-0" role="option">
                    <a class="flex items-center" href="/stocks/details/{{ stock.id }}">
                        <img src="/assets/images/company_logos/{{ stock.ticker }}.jpg" alt="" class="h-5 w-5 flex-shrink-0 rounded-full">
                        <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                        <span class="ml-3 block truncate font-normal">({{ stock.ticker }}) {{ stock.name }}</span>
                    </a>
                </li>
            {% endfor %}

            <!-- More items... -->
        </ul>

        {% if settings.dashboardTotalValuePanel %}{% include "dashboard/panels/total_value.html.twig" with {'stocks':stocks} %}{% endif %}
        {% if settings.dashboardPortfolioPanel %}
            {# TODO: check if at least one portfolio has been created for this user, if not add the create a portfolio panel #}
            <div class="portfolio_wrapper">
                {% include "dashboard/panels/portfolio.html.twig" with {'name':'Long Term Trades', 'updated':'12/29/2021', 'amount': 0, 'gain_total':0, 'gain_total_percent':0, 'gain_day':0, 'gain_day_percent':0} %}
                {% if futures != "NO BUCKETS" and settings.futuresEnabled %}{% include "dashboard/panels/futures.html.twig" %}{% endif %}
            </div>
        {% endif %}
        {% if settings.dashboardSectorWeightPanel %}{% include "dashboard/panels/sector_weight.html.twig" with {'weights':weights} %}{% endif %}
        {% if settings.dashboardNakedOptionsPanel %}{% include "dashboard/panels/naked_options.html.twig" %}{% endif %}
        {% if settings.dashboardCcPanel %}{% include "dashboard/panels/cc.html.twig" %}{% endif %}
        {% if settings.dashboardPlaysPanel %}{% include "dashboard/panels/plays.html.twig" %}{% endif %}
    </div><!--

 --><div class="narrow_column">
        {% include "dashboard/panels/wallet.html.twig" with {'amount_can': wallet.CAN, 'amount_usd': wallet.USD, 'locked_cdn': wallet.lockedCdn, 'locked_usd': wallet.lockedUsd} %}

        {% if wallet.lockedCdn != 0 or wallet.lockedUsd != 0 %}
            {% include "dashboard/panels/wallet_locked.html.twig" with {'amount_can': wallet.lockedCdn, 'amount_usd': wallet.lockedUsd} %}
        {% endif %}

        {% if settings.isUseTenPercentWallet %}
            {% include "dashboard/panels/wallet_percent.html.twig" with {'amount_can': wallet.tenPercentCdn, 'amount_usd': wallet.tenPercentUsd} %}
        {% endif %}

        {% if settings.useHisa %}
            {% set hisaFound = false %}
            {%  for hisa in hisas %}
                {% set hisaFound = true %}
                {% include "dashboard/panels/hisa.html.twig" with {'id':hisa.id,'name':hisa.name, 'bank':hisa.bank, 'amount':hisa.amount, 'interestRate':hisa.interestRate} %}
            {% endfor %}

            {% if hisaFound == false %}
                {% include "dashboard/panels/hisa_empty.html.twig" %}
            {% endif %}

        {% endif %}
        {% include "dashboard/panels/debt.html.twig" %}
        {% include "dashboard/panels/transfer.html.twig" %}
        {% include "dashboard/panels/stats.html.twig" %}
        {% include "dashboard/panels/transactions.html.twig" with {'transactions': transactions} %}
    </div>

    <script>
        var search_open = false;
        $(document).ready(function() {
           $("#stocksearch").on('click', function() {
               if(!search_open) {
                   search_open = true;
                   $("#searchresults li").show();
                   $("#searchresults").show();
               } else {
                   search_open = false;
                   $("#searchresults").hide();
               }
           });

           $("#stocksearch").on('keyup', function(){
               search_open = true;
               var search_value = $(this).val().toLowerCase();

               if (search_value.trim() === "") {
                   $("#searchresults").hide();
               } else {
                   $("#searchresults li").each(function(){
                       var $li = $(this);
                       var name = $li.attr("data-name").toLowerCase();
                       var ticker = $li.attr("data-ticker").toLowerCase();
                       var sector = $li.attr("data-sector").toLowerCase();
                       $li.hide();

                       if(name.includes(search_value.trim()) || ticker.includes(search_value.trim()) || sector.includes(search_value.trim())) {
                           $li.show();
                       }
                   });

                   $("#searchresults").show();
               }


           })
        });
    </script>
{% endblock %}

